# sbt
project/project/
project/target/
target/
.bundledFiles
.bsp

# VSCode
.vscode

# IntelliJ IDEA
*.log
*.iml
*.ipr
*.iws
.idea

# MacOS
.DS_Store

# Java
*.class

# NetLogo
*.tmp.nlogo

# Project
pseudorandom

